@media (min-width: 992px) {
    .content-section-about {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .content-section-contact {
        padding-top: 150px;
        padding-bottom: 200px;
    }

    #map {
        height: 350px;
    }
}


.download-section {
    padding-top: 210px !important;
    padding-bottom: 310px !important;
}
